<!-- Right Part -->
<div class="col p-3 border-start">
  <div class="user-info d-flex justify-content-end">
    <i class="bi bi-person-circle" style="font-size: 36px"></i>
    <div class="user-text ms-3">
      <h6>Elijah Scott</h6>
      <p class="text-muted">elijarscott@gmail.com</p>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="." class="text-decoration-none text-muted">Bảng quảng cáo</a>
      </li>
      <li
        class="breadcrumb-item active text-dark fw-semibold"
        aria-current="page"
      >
        Cập nhật thông tin
      </li>
    </ol>
  </nav>
  <hr />
  <form method="POST" id="form" class="card bg-light mb-3" enctype="multipart/form-data">
    <div class="card-body p-4">
      <h4 class="card-title py-2 fw-semibold">Cập nhật thông tin</h4>
      <div class="d-flex flex-column pb-4 px-3">
        <label for="" class="form-label"
          >Địa điểm</label
        >
        <div
          class="d-flex flex-row gap-3 align-items-start text-secondary w-75"
        >
          <input
            type="text"
            class="form-control w-auto flex-grow-1"
            required
            id=""
            aria-describedby="helpId"
            placeholder="Địa chỉ"
            name="address"
            value=""
          />
          <input
            type="text"
            class="form-control w-auto"
            required
            id=""
            aria-describedby="helpId"
            placeholder="Phường"
          />
          <input
            type="text"
            class="form-control w-auto"
            required
            id=""
            aria-describedby="helpId"
            placeholder="Quận"
          />
        </div>
        <label for="method_select" class="form-label pt-3"
          >Loại bảng quảng cáo</label
        >
        <div>
          <select
            class="form-select text-secondary w-50"
            name=""
            id="method_select"
          >
            <option selected>Vui lòng chọn</option>
            <option value="">Cổ động chính trị</option>
            <option value="">Quảng cáo thương mại</option>
            <option value="">Xã hội hoá</option>
          </select>
        </div>
        <label for="method_select" class="form-label pt-3"
          >Thời hạn hợp đồng<span class="text-danger"> *</span></label
        >
        <div class="input-group input-daterange w-50">
          <input type="date" class="form-control text-secondary" />
          <div class="input-group-text">to</div>
          <input type="date" class="form-control text-secondary" />
        </div>
        <label for="file_inp" class="form-label pt-3"
          >Hình ảnh thực tế<span class="text-danger"> *</span></label
        >
        <div class="input-group input-daterange">
          <input
            type="file"
            class="form-control text-secondary"
            id="file_inp"
            placeholder="Chưa có file được chọn"
            aria-describedby="fileHelpId"
            multiple
          />
        </div>
        <div
          class="d-flex flex-row justify-content-center align-items-center gap-4 pt-5"
        >
          <a
            name=""
            id=""
            class="btn btn-secondary px-4"
            href="/ward/ads"
            role="button"
            >Trở về danh sách</a
          >
          <button
            type="button"
            name=""
            id=""
            class="btn btn-primary px-4"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Cập nhật thông tin
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn cập nhật những thay đổi này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Cập nhật
        </button>
      </div>
    </div>
  </div>
</div>
