/* Map */
body {
  margin: 0;
  padding: 0;
}
.marker {
  background-image: url("https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

/* Modal */
.modal-header {
  background-color: #f8f9fa;
  padding: 16px 50px !important;
}

.modal-content h2 {
  padding: 0 !important;
}

.modal-body {
  background-color: #f8f9fa;
  padding: 10px 50px !important;
}

.modal-footer {
  background-color: #f8f9fa;
}

/* Form File */
input[type="file"] {
  border: 1px solid #ced4da;
  background-color: #fff;
  border-radius: 10px;
  padding: 0;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: 1px solid #ced4da;
  background: #ced4da;
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
  color: #000;
  cursor: pointer;
}

.report-radio {
  padding-left: 20px;
}

/* Tiny */
.tox-tinymce {
  border: 1px solid #212529;
  background-color: #fff;
}

.bi-info-circle,
.bi-question-circle {
  cursor: pointer;
}

.mapboxgl-popup-content {
  text-align: left !important;
}

.switch-table {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: #fff;
  padding: 8px 16px 0 16px;
  border-radius: 10px;
}

.form-check-label {
  font-size: 16px;
}

/* Nav Button */
.nav-table {
  width: 100%;
}

.nav-btn {
  width: 100%;
  padding: 8px 16px;
  background-color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
}

.nav-btn:hover {
  background: #a0c3d2;
  color: #fff;
}

.nav-btn.active {
  background: #a0c3d2;
  color: #fff;
}

/* Side bar */
.rounded-rect {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 50px -25px black;
}

.flex-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center.left {
  left: 0px;
}

.sidebar-content {
  overflow: scroll;
  width: 95%;
  height: 95%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: gray;
}

.sidebar-toggle {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s transform ease-in-out;
}

.sidebar-toggle.left {
  right: -1.5em;
}

.sidebar-toggle:hover {
  color: #0aa1cf;
  cursor: pointer;
}

.sidebar {
  transition: transform 1s;
  z-index: 1;
  width: 400px;
  height: 100%;
}

/*
The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
The toggleSidebar() function removes this class from the element in order to expand it.
*/
.left.collapsed {
  transform: translateX(-395px);
}
.sidebar-toggle.rotated {
  transform: rotate(-180deg);
}
