<!-- Right Part -->
<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <div class="card bg-light mb-3">
    <form class="card-body p-4">
      <h2 class="fw-semibold">Yêu cầu cấp phép</h2>
      <label for="adsAddress" class="form-label pt-2">Thông tin bảng quảng cáo</label>
      <div class="row g-3" id="adsAddress">
        <div class="col-3 flex-grow-1">
          <input
            type="text"
            class="form-control"
            id="address"
            placeholder="Địa chỉ"
          />
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            id="ward"
            placeholder="Phường"
          />
        </div>
        <div class="col-3">
          <input
            type="email"
            class="form-control"
            id="district"
            placeholder="Quận"
          />
        </div>
      </div>

      <label for="companyInfo" class="form-label pt-3">Thông tin công ty</label>
      <div class="row g-3" id="companyInfo">
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            id="companyName"
            placeholder="Tên công ty"
          />
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            id="companyPhone"
            placeholder="Số điện thoại"
          />
        </div>
        <div class="col-4 flex-grow-1">
          <input
            type="text"
            class="form-control"
            id="companyAddress"
            placeholder="Địa chỉ công ty"
          />
        </div>
      </div>

      <div class="row g-3">
        <div class="col-4 py-3">
          <div class="row">
            <div class="col">
              <label for="companyEmail" class="form-label"
                >Email liên lạc</label
              >
              <input
                type="email"
                class="form-control"
                id="companyEmail"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="row py-1">
            <div class="col">
              <label for="date_input" class="form-label pt-3"
                >Thời hạn hợp đồng</label
              >
              <div class="input-group input-daterange" id="date_input">
                <input type="date" class="form-control text-secondary"/>
                <div class="input-group-text">to</div>
                <input type="date" class="form-control text-secondary"/>
              </div>
            </div>
          </div>
          <div class="py-1">
            <label for="formFile" class="form-label">Hình ảnh minh họa</label>
            <input class="form-control" type="file" id="formFile" />
          </div>
        </div>
        <div class="col-8 py-3">
          <div class="form-group">
            <label for="inputAddress2" class="form-label"
              >Nội dung quảng cáo</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="8"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-center py-1">
      <a name="" id="" class="btn btn-secondary me-4" href="." role="button"
        >Trở về danh sách</a
      >
      <a name="" id="" class="btn btn-primary me-4" href="." role="button"
        >Tạo yêu cầu</a
      >
    </div>
  </div>
</div>
