
        <!-- Right Part -->
        <div class="col p-3 border-start">
          <div class="user-info d-flex justify-content-end">
            <i class="bi bi-person-circle" style="font-size: 36px"></i>
            <div class="user-text ms-3">
              <h6>Elijah Scott</h6>
              <p class="text-muted">elijarscott@gmail.com</p>
            </div>
          </div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/ward/request" class="text-decoration-none text-muted"
                  >Yêu cầu cấp phép</a
                >
              </li>
              <li
                class="breadcrumb-item active text-dark fw-semibold"
                aria-current="page"
              >
                Tạo yêu cầu mới
              </li>
            </ol>
          </nav>
          <hr />

          <div class="card bg-light mb-3">
            <div class="card-body p-4">
              <h2 class="fw-semibold">Yêu cầu cấp phép</h2>

              <div class="row g-3 py-1">
                <label for="inputAddress" class="form-label"
                  >Thông tin bảng quảng cáo</label
                >
              </div>

              <form class="row g-3 py-1">
                <div class="col-3">
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Địa chỉ"
                  />
                </div>
                <div class="col-3">
                  <input
                    type="email"
                    class="form-control"
                    id="#"
                    placeholder="Phường"
                  />
                </div>
                <div class="col-3">
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Quận"
                  />
                </div>
                <div class="col-3">
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Số thứ tự"
                  />
                </div>
              </form>

              <div class="row g-3 py-1">
                <label for="inputAddress2" class="form-label"
                  >Thông tin công ty</label
                >
              </div>

              <form class="row g-3 py-1">
                <div class="col-4">
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Tên công ty"
                  />
                </div>
                <div class="col-4">
                  <input
                    type="email"
                    class="form-control"
                    id="#"
                    placeholder="Mã số thuế"
                  />
                </div>
                <div class="col-4">
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Địa chỉ công ty"
                  />
                </div>
              </form>

              <div class="row g-3">
                <div class="col-4 py-3">
                  <div class="row py-1">
                    <div class="col">
                      <label for="inputAddress2" class="form-label"
                        >Thông tin liên lạc</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="inputEmail4"
                        placeholder="Email"
                      />
                    </div>
                    <div class="col">
                      <label for="inputAddress2" class="form-label"
                        >Thông tin liên lạc</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="inputEmail4"
                        placeholder="Số điện thoại"
                      />
                    </div>
                  </div>
                  <div class="row py-1">
                    <div class="col">
                      <label for="inputAddress2" class="form-label"
                        >Thời hạn hợp đồng</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="inputEmail4"
                        placeholder="Ngày bắt đầu"
                      />
                    </div>
                    <div class="col">
                      <label for="inputAddress2" class="form-label"
                        >Thời hạn hợp đồng</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="#"
                        placeholder="Ngày kết thúc"
                      />
                    </div>
                  </div>
                  <div class="py-1">
                    <label for="formFile" class="form-label"
                      >Hình ảnh minh họa</label
                    >
                    <input class="form-control" type="file" id="formFile" />
                  </div>
                </div>
                <div class="col-8 py-3">
                  <div class="form-group">
                    <label for="inputAddress2" class="form-label"
                      >Nội dung quảng cáo</label
                    >
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="8"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center py-1">
              <a
                name=""
                id=""
                class="btn btn-secondary me-4"
                href="."
                role="button"
                >Trở về danh sách</a
              >
              <a
                name=""
                id=""
                class="btn btn-primary me-4"
                href="."
                role="button"
                >Tạo yêu cầu</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
