body {
  font-family: "Be Vietnam Pro", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.current-nav-item {
  background-color: var(--bs-gray-800);
}

.nav-item:hover {
  background-color: var(--bs-gray-800);
  color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

.table > :not(caption) > * > * {
  padding: 0.75rem;
}
