body {
  font-family: "Be Vietnam Pro", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.current-nav-item {
  background-color: var(--bs-gray-800);
}

.nav-item:hover {
  background-color: var(--bs-gray-800);
  color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

.table > :not(caption) > * > * {
  padding: 0.75rem;
}

ul {
  list-style-type: none;
}

/* Account Menu */
.user-info {
  position: relative;
}

.menu {
  position: absolute;
  top: 70px;
  right: 0px;
  z-index: 1;
  padding: 24px 12px 0 12px;
  background-color: rgb(28, 45, 56);
  border-radius: 12px;
  color: #fff;
  width: 200px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu .info {
  text-align: center;
}

.menu h3 {
  font-size: 16px;
}

.logout {
  width: 100%;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

.logout:hover {
  color: #337ab7;
}
