#map {
  height: 100%;
  width: 100%;
}

#sidebar {
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar-btn {
  width: 25px;
  height: 60px;
  position: fixed;
  top: calc(50% - 20px);
  right: 30%;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px 0 0 10px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
