/* Modal */
.modal-header {
  background-color: #f8f9fa;
  padding: 16px 50px !important;
}

.modal-content h2 {
  padding: 0 !important;
}

.modal-body {
  background-color: #f8f9fa;
  padding: 10px 50px !important;
}

.modal-footer {
  background-color: #f8f9fa;
}

/* Form File */
input[type="file"] {
  border: 1px solid #ced4da;
  background-color: #fff;
  border-radius: 10px;
  padding: 0;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: 1px solid #ced4da;
  background: #ced4da;
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
  color: #000;
  cursor: pointer;
}

.report-radio {
  padding-left: 20px;
}

/* Tiny */
.tox-tinymce {
  border: 1px solid #212529;
  background-color: #fff;
}

.bi-info-circle {
  cursor: pointer;
}

.mapboxgl-popup-content {
  text-align: left !important;
}

.switch-table {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: #fff;
  padding: 8px 16px 0 16px;
  border-radius: 10px;
}

.form-check-label {
  font-size: 16px;
}

/* Nav Button */
.nav-table {
  width: 100%;
}

.nav-btn {
  padding: 8px 16px;
  border: none;
  background-color: #fff;
  position: relative;
}

.nav-btn:focus::after {
  content: "";
  border-bottom: 3px solid #000;
  width: 60px;
  position: absolute;
  bottom: 0px;
  display: block;
}

.nav-btn:hover {
  background-color: #f5f7f8;
}
