<!-- Right Part -->
<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <div class="card bg-light mb-3">
    <div class="card-body p-4">
      <h4 class="card-title py-2 fw-semibold">Tạo tài khoản</h4>
      <form method="POST" id="form" class="d-flex flex-column pb-4">
        <div class="row py-3">
          <div class="col-5">
            <label for="" class="form-label"
              >Họ tên<span class="text-danger"> *</span></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Họ tên"
              name="fullname"
            />
          </div>
          <div class="col-3">
            <label for="" class="form-label"
              >Ngày sinh<span class="text-danger"> *</span></label
            >
            <input
              type="date"
              class="form-control text-secondary"
              name="birthdate"
            />
          </div>
          <div class="col-3">
            <label for="" class="form-label d-block"
              >Giới tính<span class="text-danger"> *</span></label
            >
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="inlineRadio1"
                value="male"
              />
              <label class="form-check-label" for="inlineRadio1">Nam</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="inlineRadio2"
                value="female"
              />
              <label class="form-check-label" for="inlineRadio2">Nữ</label>
            </div>
          </div>
        </div>

        <div class="row py-3">
          <div class="col-5">
            <label for="" class="form-label"
              >Số điện thoại<span class="text-danger"> *</span></label
            >
            <input
              type="phone"
              class="form-control"
              required
              id=""
              aria-describedby="helpId"
              placeholder="Số điện thoại"
              name="phone"
            />
          </div>
          <div class="col-5">
            <label for="" class="form-label"
              >CMND/CCCD<span class="text-danger"> *</span></label
            >
            <input
              type="text"
              class="form-control"
              required
              id=""
              aria-describedby="helpId"
              name="identity_code"
              placeholder="CMND/CCCD"
            />
          </div>
        </div>

        <div class="row py-3">
          <div class="col-5">
            <label for="" class="form-label"
              >Email<span class="text-danger"> *</span></label
            >
            <input
              type="email"
              class="form-control"
              required
              id=""
              aria-describedby="helpId"
              placeholder="Email"
              name="email"
            />
          </div>
          <div class="col-5">
            <label for="" class="form-label"
              >Password<span class="text-danger"> *</span></label
            >
            <input
              type="password"
              class="form-control"
              required
              id=""
              aria-describedby="helpId"
              placeholder="Password"
              name="password"
            />
          </div>
        </div>

        <div class="row py-3">
          <div class="col-2">
            <label for="" class="form-label"
              >Chức vụ<span class="text-danger"> *</span></label
            >
            <div class="form-check py-2">
              <input
                class="form-check-input"
                type="radio"
                name="role"
                id="wardRoleSelect"
                value="ward_officer"
                checked
              />
              <label class="form-check-label" for="wardRoleSelect">
                Cán bộ phường
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="role"
                id="districtRoleSelect"
                value="district_officer"
              />
              <label class="form-check-label" for="districtRoleSelect">
                Cán bộ quận
              </label>
            </div>
          </div>
          <div class="col-4">
            <label for="" class="form-label">Quận</label>
            <select class="form-select district-select" aria-label="" name="managed_district">
              <% districts.forEach(district => { %>
              <option value="<%= district._id %>"><%= district.name %></option>
              <% }) %>
            </select>
          </div>
          <div class="col-4">
            <label for="" class="form-label">Phường</label>
            <select class="form-select ward-select" name="managed_ward" aria-label=""></select>
          </div>
        </div>

        <div
          class="d-flex flex-row justify-content-center align-items-center gap-4 pt-5"
        >
          <a name="" id="" class="btn btn-secondary px-4" href="." role="button"
            >Trở về</a
          >
          <a name="" id="" class="btn btn-primary px-4" href="#" role="button"
            data-bs-toggle="modal"
            data-bs-target="#createAccount"
            >Tạo tài khoản</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="createAccount"
  aria-hidden="true"
  aria-labelledby="createAccount"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn tạo tài khoản này?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button type="button" class="btn btn-primary" id="submit-btn" data-bs-dismiss="modal">
            Tạo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("submit-btn").addEventListener("click", () => {
    form.submit();
  });
  document.addEventListener("DOMContentLoaded", function () {
    var wardRoleSelect = document.querySelector("#wardRoleSelect");
    var districtRoleSelect = document.querySelector("#districtRoleSelect");
    var districtSelect = document.querySelector(".district-select");
    var wardSelect = document.querySelector(".ward-select");

    wardRoleSelect.addEventListener("click", async () => {
      wardSelect.removeAttribute("disabled", "");
    })
    districtRoleSelect.addEventListener("click", async () => {
      wardSelect.setAttribute("disabled", "");
    })
    districtSelect.addEventListener("change", async () => {
      let selectedOption = districtSelect.options[districtSelect.selectedIndex];
      let district = selectedOption.value;
      const response = await fetch(`/utils/districts/${district}/wards`);
      const data = await response.json();
      populateWards(data.wards);
    });

    districtSelect.dispatchEvent(new Event("change"));

    function populateWards(wards) {
      wardSelect.innerHTML = "";

      wards.forEach((ward) => {
        let option = document.createElement("option");
        option.value = ward;
        option.innerHTML = ward;
        wardSelect.appendChild(option);
      });
    }
  });
</script>
