<!-- Right Part -->
<div class="col p-3 border-start">
  <div class="user-info d-flex justify-content-end">
    <i class="bi bi-person-circle" style="font-size: 36px"></i>
    <div class="user-text ms-3">
      <h6>Elijah Scott</h6>
      <p class="text-muted">elijarscott@gmail.com</p>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="." class="text-decoration-none text-muted"
          >Quản lí tài khoản</a
        >
      </li>
      <li
        class="breadcrumb-item active text-dark fw-semibold"
        aria-current="page"
      >
        Thông tin chung
      </li>
    </ol>
  </nav>
  <hr />
  <h2 class="fw-semibold">QUẢN LÍ TÀI KHOẢN CÁN BỘ PHƯỜNG, QUẬN</h2>
  <div class="row justify-content-center">
    <div class="col-3">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Tìm kiếm"
        aria-label="Search"
      />
    </div>
    <div class="col-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Sắp xếp</option>
      </select>
    </div>
    <div class="col-3">
      <a href="./create.html">
        <button class="btn btn-primary px-4" type="button">
          Thêm tài khoản
        </button>
      </a>
    </div>
  </div>
  <table class="table border border-2 rounded py-3 mt-3">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">EMAIL</th>
        <th scope="col">HỌ TÊN</th>
        <th scope="col">CHỨC VỤ</th>
        <th scope="col">SĐT</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td class="">abc@gmail.com</td>
        <td class="">Nguyễn Văn A</td>
        <td class="">Cán bộ Phường</td>
        <td class="">09 043 422 69</td>
        <td class="d-flex gap-4 fs-5">
          <a href="./detail.html">
            <i class="bi bi-eye-fill"></i>
          </a>
          <a href="./update.html">
            <i class="bi bi-pencil-square"></i>
          </a>
          <i
            role="button"
            class="bi bi-x-circle-fill bi-cursor"
            data-bs-toggle="modal"
            data-bs-target="#removeAccount"
          ></i>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td class="">abc@gmail.com</td>
        <td class="">Nguyễn Văn A</td>
        <td class="">Cán bộ Phường</td>
        <td class="">09 043 422 69</td>
        <td class="d-flex gap-4 fs-5">
          <a href="./detail.html">
            <i class="bi bi-eye-fill"></i>
          </a>
          <a href="./update.html">
            <i class="bi bi-pencil-square"></i>
          </a>
          <i
            role="button"
            class="bi bi-x-circle-fill bi-cursor"
            data-bs-toggle="modal"
            data-bs-target="#removeAccount"
          ></i>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td class="">abc@gmail.com</td>
        <td class="">Nguyễn Văn A</td>
        <td class="">Cán bộ Phường</td>
        <td class="">09 043 422 69</td>
        <td class="d-flex gap-4 fs-5">
          <a href="./detail.html">
            <i class="bi bi-eye-fill"></i>
          </a>
          <a href="./detail.html">
            <i class="bi bi-pencil-square"></i>
          </a>
          <i
            role="button"
            class="bi bi-x-circle-fill bi-cursor"
            data-bs-toggle="modal"
            data-bs-target="#removeAccount"
          ></i>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td class="">abc@gmail.com</td>
        <td class="">Nguyễn Văn A</td>
        <td class="">Cán bộ Phường</td>
        <td class="">09 043 422 69</td>
        <td class="d-flex gap-4 fs-5">
          <a href="./detail.html">
            <i class="bi bi-eye-fill"></i>
          </a>
          <a href="./detail.html">
            <i class="bi bi-pencil-square"></i>
          </a>
          <i
            role="button"
            class="bi bi-x-circle-fill bi-cursor"
            data-bs-toggle="modal"
            data-bs-target="#removeAccount"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Remove Account Modal -->
<div
  class="modal fade"
  id="removeAccount"
  aria-hidden="true"
  aria-labelledby="removeAccount"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn xóa người dùng này?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
