<!-- Right Part -->
<div class="col p-3 border-start">
  <div class="user-info d-flex justify-content-end">
    <i class="bi bi-person-circle" style="font-size: 36px"></i>
    <div class="user-text ms-3">
      <h6>Elijah Scott</h6>
      <p class="text-muted">elijarscott@gmail.com</p>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="." class="text-decoration-none text-muted"
          >Quản lí tài khoản</a
        >
      </li>
      <li
        class="breadcrumb-item active text-dark fw-semibold"
        aria-current="page"
      >
        Cập nhật tài khoản
      </li>
    </ol>
  </nav>
  <hr />
  <div class="card bg-light mb-3">
    <div class="card-body p-4">
      <h4 class="card-title py-2 fw-semibold">Cập nhật tài khoản</h4>
      <div class="d-flex flex-column pb-4">
        <div class="row py-3">
          <div class="col-5">
            <label for="" class="form-label"
              >Họ tên<span class="text-danger"> *</span></label
            >
            <input type="text" class="form-control" placeholder="Họ tên" />
          </div>
          <div class="col-3">
            <label for="" class="form-label"
              >Ngày sinh<span class="text-danger"> *</span></label
            >
            <input type="date" class="form-control text-secondary" />
          </div>
          <div class="col-3">
            <label for="" class="form-label d-block"
              >Giới tính<span class="text-danger"> *</span></label
            >
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio1"
                value="option1"
              />
              <label class="form-check-label" for="inlineRadio1">Nam</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio2"
                value="option2"
              />
              <label class="form-check-label" for="inlineRadio2">Nữ</label>
            </div>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-5">
            <label for="" class="form-label"
              >Email<span class="text-danger"> *</span></label
            >
            <input
              type="email"
              class="form-control"
              required
              id=""
              aria-describedby="helpId"
              placeholder="Email"
            />
          </div>
          <div class="col-5">
            <label for="" class="form-label"
              >Password<span class="text-danger"> *</span></label
            >
            <input
              type="password"
              class="form-control"
              required
              id=""
              aria-describedby="helpId"
              placeholder="Password"
            />
          </div>
        </div>

        <div
          class="d-flex flex-row justify-content-center align-items-center gap-4 pt-5"
        >
          <a name="" id="" class="btn btn-secondary px-4" href="." role="button"
            >Trở về</a
          >
          <a
            name=""
            id=""
            class="btn btn-primary px-4"
            role="button"
            data-bs-toggle="modal"
            data-bs-target="#updateAccount"
            >Cập nhật</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Update Account Modal -->
<div
  class="modal fade"
  id="updateAccount"
  aria-hidden="true"
  aria-labelledby="updateAccount"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn cập nhật những thay đổi này?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Cập nhật
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
