<!-- Right Part -->
<div class="col p-3 border-start">
  <div class="user-info d-flex justify-content-end">
    <i class="bi bi-person-circle" style="font-size: 36px"></i>
    <div class="user-text ms-3">
      <h6>Elijah Scott</h6>
      <p class="text-muted">elijarscott@gmail.com</p>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="." class="text-decoration-none text-muted">Thống kê</a>
      </li>
      <li
        class="breadcrumb-item active text-dark fw-semibold"
        aria-current="page"
      >
        Thông tin chung
      </li>
    </ol>
  </nav>
  <hr />
  <h2 class="fw-semibold">THỐNG KÊ BÁO CÁO VÀ CÁCH XỬ LÝ</h2>
  <div class="row justify-content-center">
    <div class="col-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Thời gian</option>
      </select>
    </div>
    <div class="col-3">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Tìm kiếm"
        aria-label="Search"
      />
    </div>
    <div class="col-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Sắp xếp</option>
      </select>
    </div>
    <div class="col-2">
      <a class="btn btn-primary" href="./index.html" role="button"
        >Xem biểu đồ</a
      >
    </div>
  </div>
  <table class="table border border-2 rounded py-3 mt-3">
    <thead>
      <tr>
        <th scope="col">Quận</th>
        <th scope="col">Phường</th>
        <th scope="col">Người báo cáo</th>
        <th scope="col">Thời gian</th>
        <th scope="col">Tình trạng</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td class="">1</td>
        <td class="">Nguyễn Văn A</td>
        <td class="">11/11/2023</td>
        <td class="">
          <span class="badge bg-success w-100">Đã xử lý</span>
        </td>
        <td class="">
          <a href="./detail.html">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td class="">1</td>
        <td class="">Nguyễn Văn A</td>
        <td class="">11/11/2023</td>
        <td class="">
          <span class="badge bg-danger w-100">Chưa xử lý</span>
        </td>
        <td class="">
          <a href="./detail.html">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td class="">1</td>
        <td class="">Nguyễn Văn A</td>
        <td class="">11/11/2023</td>
        <td class="">
          <span class="badge bg-danger w-100">Chưa xử lý</span>
        </td>
        <td class="">
          <a href="./detail.html">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td class="">1</td>
        <td class="">Nguyễn Văn A</td>
        <td class="">11/11/2023</td>
        <td class="">
          <span class="badge bg-warning w-100">Đang xử lý</span>
        </td>
        <td class="">
          <a href="./detail.html">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td class="">1</td>
        <td class="">Nguyễn Văn A</td>
        <td class="">11/11/2023</td>
        <td class="">
          <span class="badge bg-success w-100">Đã xử lý</span>
        </td>
        <td class="">
          <a href="./detail.html">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Remove -->
<div
  class="modal fade"
  id="removeLocation"
  aria-hidden="true"
  aria-labelledby="removeLocation"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn xóa thông tin điểm đặt quảng cáo này?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
